<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Before tax price:</strong>
    <%= product.before_tax_price %>
  </p>

  <p>
    <strong>Has gst:</strong>
    <%= product.has_gst %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= product.enabled %>
  </p>

</div>
